body{
    background-color:#f4f4f4;
    font-family: HiraginoSans-W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,Verdana,sans-serif;
}
div.col-sm {
    background-color: cornflowerblue;
    border: 1px solid #000;
}

div.col {
    background-color: rgb(100, 237, 123);
    border: 1px solid #000;
}
#b-lila div {
    background-color: blueviolet;
    border: 1px solid #000;
}
#b-rojo div {
    background-color: rgb(241, 61, 15);
    border: 1px solid #000;
}

#b-amarillo div {
    background-color: rgb(237, 241, 15);
    border: 1px solid #000;
}
#b-back div {
    background-color: #f4f4f4;            
    border: 1px solid #f4f4f4;
}
.toggle-button-box {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 0 0;
    font-size: 18px;
    border-radius: 30px
    
}
.login-form {
    margin: 20vh auto 0;
    text-align: center;
    background-color: hsla(0,0%,100%,.65);
    width: 363px;
    padding: 40px 0 38px;
    border-radius: 4px;
}
.carrusel {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
}
.wallpaper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 0;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.Gen0{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 116px;
    height: 36x;
    font-size: 15px
}

#backHome{
    -webkit-app-region: drag;
    position: absolute;
    left: 10px;
    top: -5px;

}

#HeadLoginCard{
    position: absolute;
    left: 1%;
    top: -22%;
    width: 280px;
    height: 60px;
}

#HeadLoginInfo{
    font-size: 30px;
}

#LoginCardBox{
    width: 18rem;
}

.fa{
    font-size: 25px;
}